.shape > div {
  width: 90%; 
  height: 90%;
  background-color: rgb(255 0 0/39%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  margin-top: 5%;
  margin-left: 5%;
}
