/* CSS Selectors
===============
=====part1=====
===============
-element =>[p,div,h2]
element otherelement=>div p
.class-name
#id-name
.parent .child
.class-one.class-two 
.class-name div,.class-name p
element.class-name
====================
=======part2======== 
====================
- element + other element => [div + p ]
-Element ~ other Elements => [p ~ div ]
-[attribute]
-element[attribute]
-[attribute="value"]
- element[attribute="value"]
-input[type="submit"]
[attribute~=value] => contains a word 
[attribute*=value] => contains a string 
[attribute^=value] => start with a string 
===================
====== part3 ======
===================
- :first-child
- :last-child
- :first of type
- :last of type
- :only-child 
=================
====  part4  ====
=================
- :not(:selectors)
- :nth-child(n) [nth master a web for the nth child]
- :nth-last-child(n) 
- :nth-of-type(n)
- :nth-last-of-type
=================
===== part5 =====
=================
- :root
- :checked
- :empty 
- :disabled
- :required
- :focus
- ::selection
- ::.class placeholder

*/
* {
  box-sizing: border-box;
  margin: 0px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
/* input[type="checkbox"]:checked + label {
  color: rgb(38, 0, 255);
} */
div:empty {
  background-color: lawngreen;
  width: 200px;
  height: 200px;
}
input:disabled {
  color: orangered;
}
input:focus {
  border: 3px solid red;
}
div::selection {
  background-color: black;
  color: white;
}
