* {
  box-sizing: border-box;
  margin: 0px;
}

.parent {
  margin: 20px auto;
  height: 520px;
  background-color: #eee;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* grid-template-columns: minmax(400px, 700px) repeat(2, 500px); */
}

.parent div {
  background-color: red;
  color: white;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
