* {
  box-sizing: border-box;
}

.parent {
  margin: 20px auto;
  width: 800px;
  height: 520px;
  background-color: #eee;
  display: grid;
  gap: 10px 10px;
}

.parent div {
  background-color: red;
  color: white;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
