 * {
  box-sizing: border-box;
}

.parent {
  margin: 20px auto;
  width: 800px;
  height: 520px;
  background-color: #eee;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
  /* row-gap: 10px;
    column-gap: 10px; */
  gap: 10px 10px;
  justify-content: center;
  align-content: flex-start;
}

.parent div {
  background-color: red;
  color: rgb(0, 0, 0);
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
