* {
  box-sizing: border-box;
  margin: 0px;
}
.parent {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin:  20px auto;
}
.parent > div {
  background-color: blue;
  color: white;
  text-align: center;
  font-size: 20px;
  width: 290px;
}
/* @media (max-width: 1000px) {
  .parent > div {
    background-color: black;
  }
} */
/* @media (min-width: 1200px) {
  .parent > div {
    background-color: black;
  }
} */
@media (min-width: 1000px) and (max-width: 1400px) {
  .parent > div {
    background-color: black;
    color: red;
  }
}
