* {
  box-sizing: border-box;
  margin: 0px;
}
.parent {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px auto;
}
.parent > div {
  background-color: blue;
  color: white;
  text-align: center;
  font-size: 20px;
  width: 290px;
}
/* @media (max-width: 1000px) {
    .parent > div {
      background-color: black;
    }
  } */
/* @media (min-width: 1200px) {
    .parent > div {
      background-color: black;
    }
  } */
/* mobile  */
@media (min-width: 0px) and (max-width: 767px) {
  .parent > div {
    background-color: blue;
  }
}

/* small screens */
@media (min-width: 768px) and (max-width: 991px) {
  .parent > div {
    background-color: green;
  }
}
/* medium screens  */
@media (min-width: 992px) and (max-width: 1199px) {
  .parent > div {
    background-color: red;
  }
}

/* large screens  */
@media (min-width: 1200px) {
  .parent > div {
    background-color: black;
  }
}
