* {
  box-sizing: border-box;
  margin: 0px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333;
}
.load {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}
.load div {
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0px 5px;
  animation-name: up-and-down;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.load .two {
  animation-delay: 0.3s;
}
.load .three {
  animation-delay: 0.6s;
}
@keyframes up-and-down {
  to {
    opacity: 0.2;
    transform: translateY(-20px);
  }
}
